@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

root:has(#theme-1:checked) {
  /* Theme 1 */
  
    /* Backgrounds */
  
  --main-background: hsl(222, 26%, 31%);
  --toggle-and-keypad-background: hsl(223, 31%, 20%);
  --screen-background: hsl(224, 36%, 15%);
  
    /* Keys */
  
  --action-key-background: hsl(225, 21%, 49%);
  --action-key-shadow: hsl(224, 28%, 35%);
  
  --eq-key-background: hsl(6, 63%, 50%);
  --eq-key-shadow: hsl(6, 70%, 34%);
  
  --numkey-background: hsl(30, 25%, 89%);
  --numkey-shadow: hsl(28, 16%, 65%);
  
  /* Text */
  
  --numkey-text-color: hsl(221, 14%, 31%);
  --text-color: hsl(0, 0%, 100%);
  --action-key-color: var(--text-color);
  --eq-key-color: var(--action-key-color);
  }

:root:has(#theme-2:checked) {
  /* Theme 2 */

  /* Backgrounds */

  --main-background: hsl(0, 0%, 90%);
  --toggle-and-keypad-background: hsl(0, 5%, 81%);
  --screen-background: hsl(0, 0%, 93%);

  /* Keys */

  --action-key-background: hsl(185, 42%, 37%);
  --action-key-shadow: hsl(185, 58%, 25%);

  --eq-key-background: hsl(25, 98%, 40%);
  --eq-key-shadow: hsl(25, 99%, 27%);

  --numkey-background: hsl(45, 7%, 89%);
  --numkey-shadow: hsl(35, 11%, 61%);

  /* Text */

  --numkey-text-color: hsl(60, 10%, 19%);
  --text-color: var(--numkey-text-color);
  --action-key-color: hsl(0, 0%, 100%);
  --eq-key-color: var(--action-key-color);
}

:root:has(#theme-3:checked) {
  /* Theme 3 */

  /* Backgrounds */

  --main-background: hsl(268, 75%, 9%);
  --toggle-and-keypad-background: hsl(268, 71%, 12%);
  --screen-background: var(--toggle-and-keypad-background);

  /* Keys */

  --action-key-background: hsl(281, 89%, 26%);
  --action-key-shadow: hsl(285, 91%, 52%);

  --eq-key-background: hsl(176, 100%, 44%);
  --eq-key-shadow: hsl(177, 92%, 70%);

  --numkey-background: hsl(268, 47%, 21%);
  --numkey-shadow: hsl(290, 70%, 36%);

  /* Text */

  --numkey-text-color: hsl(52, 100%, 62%);
  --text-color: var(--numkey-text-color);
  --action-key-color: hsl(0, 0%, 100%);
  --eq-key-color: hsl(198, 20%, 13%);
}


@media (prefers-color-scheme: light) {
  :root {
    /* Theme 2 */
  
    /* Backgrounds */
  
    --main-background: hsl(0, 0%, 90%) !important;
    --toggle-and-keypad-background: hsl(0, 5%, 81%);
    --screen-background: hsl(0, 0%, 93%);
  
    /* Keys */
  
    --action-key-background: hsl(185, 42%, 37%);
    --action-key-shadow: hsl(185, 58%, 25%);
  
    --eq-key-background: hsl(25, 98%, 40%);
    --eq-key-shadow: hsl(25, 99%, 27%);
  
    --numkey-background: hsl(45, 7%, 89%);
    --numkey-shadow: hsl(35, 11%, 61%);
  
    /* Text */
  
    --numkey-text-color: hsl(60, 10%, 19%);
    --text-color: var(--numkey-text-color);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Theme 1 */
    
      /* Backgrounds */
    
    --main-background: hsl(222, 26%, 31%);
    --toggle-and-keypad-background: hsl(223, 31%, 20%);
    --screen-background: hsl(224, 36%, 15%);
    
      /* Keys */
    
    --action-key-background: hsl(225, 21%, 49%);
    --action-key-shadow: hsl(224, 28%, 35%);
    
    --eq-key-background: hsl(6, 63%, 50%);
    --eq-key-shadow: hsl(6, 70%, 34%);
    
    --numkey-background: hsl(30, 25%, 89%);
    --numkey-shadow: hsl(28, 16%, 65%);
    
    /* Text */
    
    --numkey-text-color: hsl(221, 14%, 31%);
    --text-color: hsl(0, 0%, 100%);
    
    }
}

* {
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
}

body {
  background-color: var(--main-background);
}